<!doctype html>

<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>ACM@CNU</title>

                <script src="script.js"></script>

                <!-- <link rel="stylesheet" href="node-modules/bootstrap/dist/css/bootstrap.css"> -->
                <link rel="stylesheet" href="/bootstrap.css">
                <link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/footer.css">
		
                <link rel="shortcut icon" type="image/png" href="img/logo.png" />
        </head>
	
        <body>
                <div class="nav">
                        <div class="container">
                                <ul class="pull-left">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About us</a></li>
                                        <li><a href="/news">News</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                </ul>
                                <ul class="pull-right">
                                        <li><a href="#">Sign Up</a></li>
                                        <li><a href="#">Donate</a></li>
                                </ul>
                        </div>
                </div>

		<div class="jumbotron" style="background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/lan_one');">
			<div class="container" style="left:15%;">
				<h1> Our Organization </h1>
				<p> ACM@CNU <p>
			</div>
		</div>

	<style>
		.outer-container {
			background-color:#fff0de;
			text-align:center;
			width:100%;
			height:25%;
			<!-- border-radius:10px; -->
		}
	</style>
	
	<div class="outer-container">
		<div class="container">
			<h2> Welcome </h2>
			<p>
				Hello, and welcome to our organization. The Association for Computing Machinery at Christopher Newport University, is an organization on CNU's campus.
				We belive that the best way to maintain a growing and high achieving Engineering school must include connecting and getting to know others in the community.
				Through the ACM at CNU, students will be able to join in on organization events, volunteer in the local Newport News comunity, and advance their knowledge in the computing sciences and engineering, throughout their time spent as a student.
				Our motto is to advance computing as a science and profession, and with our connections, career events, as well as entertainment events hosted on campus, we will be able to accomplish that goal.
				Thank you for your interest in The ACM@CNU. Check out what events we have going on right now, so you can stay up to date with everything that's going on. Don't forget to join our mailing list as well.
				</br></br>
				Your's Truely,</br>
				David Kroell</br></br>

			<b>	President of The ACM@CNU</br>
				1000 University Place,</br>
				Association for Computing Machinery,</br>
				Newport News, VA, 23606</br>
			</b>
		</div>
	</div>

	<div class="text-center center-block" style="top:100%;">
		</br>
			<a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
			<a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
			<a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
			<a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	</div>	

	</body>
</html>
