<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ACM@CNU</title>

		<script src="script.js"></script>
		
		<!-- <link rel="stylesheet" href="node-modules/bootstrap/dist/css/bootstrap.css"> -->
		<link rel="stylesheet" href="/bootstrap.css">
		<link rel="stylesheet" href="/main.css">
		
		<link rel="shortcut icon" type="image/png" href="img/logo.png" />
	</head>

	<body>
    		<div class="nav">
    			<div class="container">
        			<ul class="pull-left">
          				<li><a href="/">Home</a></li>
          				<li><a href="/about">About us</a></li>
					<li><a href="/news">News</a></li>
        			</ul>
        			<ul class="pull-right">
          				<li><a href="#">Sign Up</a></li>
          				<li><a href="#">Donate</a></li>
        			</ul>
      			</div>
    		</div>

    		<div class="jumbotron" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/silverstreak');">
      			
			<div class="container" style="position:dynamic; top:0%; float:left; left:6%;">
				<img src="/logo" style="width:35%; height:35%;">
			</div>
			
			<div class="container" style="float:right; right:6%; top:-65%">
        			<h1>Association for Computing Machinery</h1>
        				<p>Christopher Newport University</p>
        				<a href="/about">Learn More</a>
      			</div>
    		</div>

		<div class="learn-more">
	  		<div class="container">
				<div class="row">
	  	  			<div class="col-md-4">
						<h3>Our Oranization</h3>
						<p>Based at CNU, we are commited to our community and to the Computing Community</p>
						<p><a href="#">About us</a></p>
		  			</div>
		  			<div class="col-md-4">
						<h3>Upcoming Events</h3>
						<p>From LAN Parties to webinars to career opportunities. Take a look at what we're doing.</p>
						<p><a href="#">View our upcoming events</a></p>
	      				</div>
		  			<div class="col-md-4">
						<h3>Stay Up-to-date</h3>
						<p>Get the latest news and meeting updates from campus. Join our mailing list.</p>
						<p><a href="#">Join our Mailing List</a></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="jumbotron" style="text-align:center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/bluestreak');">
			<div class="container" style="top:40%">
				<h1>Our Statement</h1>
					<p>As a part of the PCSE department and the CNU community, we are commited to working with students and faculty to ensure progress in our community, and the betterment of society. Standing to advance computing as a science and a profession.</p>
			</div>
		</div>
  	</body>
</html>
